@import "base/mixins";
@import "base/extend";
@import "medias";
@import "base/variables";


/*pagina numero uno*/
/*estilos por defecto*/
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}


/*FONDO DEL INDEX*/  
.contenedor-principal{
    background-image: url(../img/atroboyyy.jpg);
    height: 100vh;
    background-size: 100% 100%;
}
  
/*TITULO DEL INDEX*/
header{
    @include flex;
    div h1{
        @extend %titulo;
    }
}

/*BOTON DEL INDEX*/
.boton{
    @include boton;
    ul li{
        @extend %botonn;
    }
    ul li a{
        @extend %boton2;
    }
}

/*SUBTITULO DEL INDEX*/
.blog{
    @extend %blog;
    h2{
        @extend %blog2;
    }
}

/*FOOTER DEL INDEX*/
footer{
   @include footer;   
   div{
       @extend %footer;
   }
}


/*htmllllllllllll LUNA*/

/*FONDO DE PAGE LUNA*/
.fondogalaxia{
    @extend %fondo;
    
}

/*MENU DE NAVEGACION DE PAGE LUNA*/
.menusito{
    div h2 a{
        color: $color-principal;
        text-decoration: $subrayado-principal;
        @extend %menusito;
    }
}


/*TITULO DE PAGE LUNA*/
.segundoTitulo{
    h1{
        @extend %segundoTitulo;
    }
}

/*MAIN DE PAGE LUNA*/
main{
    @include caja;
    .imagenLuna{
        @extend %imagenLuna
    }
} 

/*html formularioooooooo*/

.cartaNatal{
    @extend %cartaNatal;
}

.formulita{
    @extend %formulita
    
}





