/*blog*/
%blog{
    text-align:center;
    
    color: #140101;
    font-family: 'Dancing Script', cursive;
}
/*footer*/
%footer{
    font-size: 20px;
    font-weight: 60px;
    
}

/*titulo*/
%titulo{
    font-size: 100px;
    margin: 50px;
    color:rgb(0, 0, 0);
    font-family: 'Dancing Script', cursive;
}

/*boton*/
%botonn{
    list-style-type: none;
}

%boton2{
    text-decoration: none;
    color: rgb(59, 80, 80);
    font-size: 50px;
    font-family: 'Dancing Script', cursive;
}

/*blog*/
%blog2{
    font-size: 80px;
}