
//titulo
@mixin flex{
    display: flex;
    justify-content: center;

}
//boton
@mixin boton {
    display: flex;
    justify-content: center;
    
}
//footer
@mixin footer {
    
    height: 50px;
    display: flex;
    
}


//segundo htmlLLLLLLLLLLL

/*GRID DE PAGE LUNA*/
@mixin caja{
    padding: 1.5rem;
    height: 150vh;
    gap: 50px;
    display: grid;
    grid-template-areas: "luna"
                         "imagenLuna"
                         "informacion";                     
    justify-items: center;              
}

.luna{
    grid-area: luna;
    h3{
        font-size: 3rem;
        background: linear-gradient(to top, rgb(168, 151, 127), rgb(255, 145, 0));
        -webkit-background-clip: text;
        -clip: text;
        -webkit-text-fill-color: transparent;
        font-family: 'Lobster', cursive;
    }
    
}

.imagenLuna{
    grid-area: imagenLuna;
    
}

.informacion{
    grid-area: informacion;
    background: linear-gradient(to top, white, rgb(255, 148, 60));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Lobster', cursive;
}









